[user]
	name = terxor
	email = 39589847+terxor@users.noreply.github.com

[core]
  editor = vim
  autocrlf = false

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[difftool]
  prompt = false

[pull]
  rebase = true

